[2021-12-07 14:30] dlemire60 opened #4 "LICENSE needs tailoring"
Currently the LICENSE file in the PACE repo root is a bare ASCII (not Markdown) copy of the Apache v2.0 license. In comparison, the stix-shifter repo appears to have a tailored version of the same license, with links to the OASIS OP IPR Statements page, and what appears to be OCA-specific text after clause 9 of the Apache license.

Should the PACE project simply copy the stix-shifter license?  Or

[2021-12-13 19:01] adammontville opened #7 "What is our scope of work?"
During our weekly meeting (2021-12-13), and while we were discussing the Log4j issues, we wondered what the scope of our work would be in PACE. It would be ideal to have a vision/scope document created, so that we have a target to shoot for and can avoid scope creep.

For example, is an "SBOM Preferred" something we want to take under the PACE wing?

[2021-12-13 19:02] adammontville opened #8 "Establish community governance process"
Broadly, we need to write down how we would like the PACE community to be governed.

[2021-12-13 19:03] adammontville opened #9 "Establish PR processing/maintainer procedures"
Aligned with #8, we need to write down our procedures for processing pull requests and otherwise maintaining this repository.

[2021-12-13 19:03] adammontville opened #10 "Create VEX use case"
Create a Vulnerability Exploitation eXchange use case document.

[2021-12-13 19:04] adammontville opened #11 "Look at mailing list for additional issues"
The mailing list has had some traffic lately, and there may be issues there to pull into this repository.

[2021-12-13 19:05] adammontville opened #12 "Which repository membership model do we want to use?"
We need to decide which membership model we want to use for the repository. Github provides a variety of roles (i.e. read, triage, write, maintain, admin, etc.). Do we want to create one or more teams?

This model should be documented to list maintainers and chairs as well.

[2021-12-13 19:13] adammontville opened #13 "Place link to meeting information on README"
Place a link in the README.md file to the mailing list post containing weekly meeting invite information.

[2021-12-20 19:25] #13 closed, assigned to adammontville

[2021-12-20 20:33] dlemire60 commented on #12
The various roles and their permissions are documented here:  https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization

[2021-12-22 14:08] dlemire60 commented on #12
After some discussion on the [PACE mail list](https://lists.oasis-open-projects.org/g/oca-pace-wg/topics), I suggest the following:

1. Identify one or more sub-project leads for PACE. Right now that would be @adammontville  and **???**
2. Create a write team for each PACE-related repo (right now there’s just one), and give the sub-project leads the responsibility for identifying who should be on

[2022-01-03 18:20] adammontville opened #15 "Do we want to add calendar information to the groups.io calendar we're using at OCA?"
Groups.io is the host for our OCA mailing lists. `oca-pace-wg` is a subgroup of `oasis-open-projects`. We would like to see if we can make the PACE calendar publicly viewable, so that PACE WG participants do not need to create yet another login.

Before that, we need to determine if we can add the weekly PACE meeting to the calendar.

[2022-01-03 18:24] adammontville commented on #15
As an option, we could always place the meeting information on the GitHub README page. There _is_ already a link to the meeting information sent to the mailing list.

[2022-01-03 18:27] adammontville opened #16 "Do we want to record (and post) our meetings?"
It was suggested that we record and post our weekly, and potentially other related, PACE meetings. It is easy enough to record the meetings. These are typically stored on WebEx, or they can be downloaded and posted elsewhere. Alternative locations would be preferable, and we could consider groups.io or this github repository.

[2022-01-03 18:42] adammontville commented on #12
@dlemire60, thanks for looking into this. To clarify here, when you write sub-project you're talking about PACE as a sub-project to OCA. If my understanding is correct, that makes sense.

Then, do we want to create MAINTAINERS (example [here](https://github.com/eea-oasis/baseline/blob/master/MAINTAINERS.md)) and CONTRIBUTING (example [here](https://github.com/eea-oasis/baseline/blob/master/CONTRIB

[2022-01-03 21:05] davaya commented on #12
Chet says: "We set the -write group to the Maintain role. We reserve Admin for staff. I believe we set the basic Member role to write.

I'm surprised that all members have the Write role, since Write allows pushing and merging, while Maintain is a superset but only allows trivial additional permissions: edit repo description, manage topics, enable wikis / restrict wiki editors, etc.  I don't think

[2022-01-04 13:14] JasonKeirstead commented on #15
The calendars are public here https://lists.oasis-open-projects.org/g/oca-pace-wg/calendar

But, only members can subscribe??? This is confusing. @claurau maybe should look and see if a setting is misconfigured. I don't have the required access.

[2022-01-05 14:17] warrenrjwc commented on #16
I would suggest posting a recording and/or meeting notes as many folks cannot make the meeting time.

[2022-01-05 14:52] dlemire60 commented on #15
Two points:

1) On my previous visits to that page (via my bookmark for it), the calendar item at the left wasn't visible, so some magic has happened.
1) I have absolutely no idea what account would be associated with this page that I would use for logging in.

AKA: there's a need for greater information sharing about this tool.

[2022-01-05 14:53] dlemire60 commented on #12
Yes:  Project = OCA; Sub-Projects = PACE, etc.

[2022-01-06 12:35] JasonKeirstead commented on #15
@claurau is out sick right now but when she returns she can probably organize a session for the OCA @dlemire60 . I agree it would be a good thing to do. As to the account - you create the account yourself, using the email address you used to subscribe to the mailing list. If you need your account reset, let us know. You do seem to have one, and you are marked as a moderator (is it saved in your we

[2022-01-06 12:48] JasonKeirstead commented on #15
FYI I confirmed that anyone, logged in or not, can subscribe to the calendar with this "magic" URL

https://lists.oasis-open-projects.org/g/oca-pace-wg/ics/10901507/1485334643/feed.ics

[2022-01-06 14:21] dlemire60 commented on #15
Thanks, Jason. I suspect that was created automatically when I was added to the mail list and I wasn’t aware. It’s now got a proper password and a place in my password manager. And the left menu options grow dramatically when you’re logged in.

As for being a moderator:  news to me.

[2022-01-06 14:35] dlemire60 commented on #15
Can you clarify what "subscribe" means in this context?  Something like having it magically update my work calendar in Outlook?

[2022-01-06 14:38] JasonKeirstead commented on #15
@dlemire60 If you subscribe to that ICS file using a program like Google Calendar or Outlook then it should stay up-to-date with all of the latest changes. If you do it as a one-time download and manual import, it would not.

[2022-01-06 14:42] dlemire60 commented on #15
@JasonKeirstead Got it, thanks. Tried it and can see your "test" event.

[2022-01-10 15:45] sparrell commented on #12
Can I replay what I think got said above:
- project = OCA
   + subproject = PACE
      - repo = PACE (with potential for other repos under PACE at a later time)

I think the repo = subproject name will get confusing if we do have other repos. I hope we do have other repos (ie some open source software in addition to our documentation). Should we consider renaming the PACE repo something like PACE_

[2022-01-10 15:49] sparrell commented on #12
I suggest we have a process document for maintainers (ie those with write capability) to follow:
- all changes done as pull requests
- other than emergency cases, we have a two-person rule. Ie maintainer can not approve their own changes
- trivial editorial changes still follow the 2-person rule but don't require approval at a meeting (but do require reporting that it occurred at the next meeting)

[2022-01-10 15:50] JasonKeirstead commented on #12
I would suggest that whatever you think today, you will end up needing many more repos later simply due to code mechanics.
 
To use Kestrel as an example - it has 5 repos currently already and is only 6 months old
kestrel-analytics
kestrel-lang
kestrel-jupyter
kestrel-huntbook
firepit
 
@sparrell Agreed with above but want to do this at an OCA level, its not just for PACE.

[2022-01-10 15:56] sparrell opened #17 "Which collaborative development model?"
There are different models for using Pull Requests in GitHub.
See https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/getting-started/about-collaborative-development-models

We could choose either the fork and pull model or the shared repository model but I recommend the fork and pull model since we are an open group that hopes to grow beyond the few initial people.

[2022-01-10 15:57] sparrell commented on #12
Note the member model we use may be impacted by the collaborative model we use - see #17

[2022-01-10 16:00] sparrell commented on #12
@JasonKeirstead - which membership model does stixshifter use? Ie who has write and how are changes approved? Ditto kestrel? Which collaborative development model does each use - fork-and-pull or shared-repo?

[2022-01-10 17:29] sparrell opened #18 "need dot git ignore file"
I notice .DS_Store file in repo which indicates we probably need to create or update .gitignore

[2022-01-10 18:27] adammontville commented on #12
During the 2022-01-10 meeting, we determined that PACE needs to write this information down in a CONTRIBUTING.md file, then the other projects can look at it and maybe emulate for up-leveling. They may come back with ideas/constraints/etc., but we don't want to block ourselves. Let's move ahead and adapt if we need to.

Same goes for how we manage maintainers on possible multiple PACE repositories

[2022-01-10 18:34] adammontville commented on #10
In-progress work [here](https://github.com/sparrell/PACE/tree/vex1/docs/Pace_Sbom_Vex_Flags_Prioritization)

[2022-01-10 18:41] adammontville commented on #7
Consider reviewing/leveraging the PACE charter.

[2022-01-10 18:44] sparrell commented on #17
discussion at 10-Jan-2022 meeting reached consensus that we would use the fork and pull collaborative development model

[2022-01-10 18:46] sparrell commented on #8
I suggest we have a process document for maintainers (ie those with write capability) to follow:

- all changes done as pull requests
- other than emergency cases, we have a two-person rule. Ie maintainer can not approve their own changes
- trivial editorial changes still follow the 2-person rule but don't require approval at a meeting (but do require reporting that it occurred at the next meeting

[2022-01-10 18:48] sparrell commented on #8
Seems like there is consensus that the maintainers will be periodically chosen by the members at the weekly meeting. The original maintainers were chosen and will be entered into the contributing and/or governance md docs.

[2022-01-10 18:50] sparrell commented on #8
I recommend maintainers have a 'term' of 2 years, but there be no term limits. Ie that we periodically revisit. I also recommend the terms be staggered (ie half with terms ending on odd years, half with terms ending on even years). It can be a decision of the group whether to select someone to fill out a term if a maintainer leaves, or just wait until next selection meeting.

[2022-01-10 18:58] sparrell commented on #8
our governance doc should reference https://www.oasis-open.org/policies-guidelines/open-projects-process/ and say we follow all those rules. If there is an OCA equivalent doc, we should link to it as well as say we follow its rules as well. For all the places those two docs give choices, we should document which choice we chose.

[2022-01-10 19:06] sparrell opened #19 "PACE is not on OCA projects page"
if you go to https://opencybersecurityalliance.org/ and click on projects, you do not see PACE. Maintainers, as members of the TSC, should escalate this to TSC or PGB as appropriate and this issue can be used to track progress on solving.

[2022-01-10 19:14] sparrell commented on #7
I believe the charter is the attachment to https://lists.oasis-open-projects.org/g/oca-pgb/topic/posture_attribute_collection/86296436?p=,,,20,0,0,0::recentpostdate/sticky,,,20,2,0,86296436,previd=1634934194220224110,nextid=1632463213447063679&previd=1634934194220224110&nextid=1632463213447063679

I recommend we copy that content into our repo somwhere

[2022-01-11 10:59] claurau commented on #19
I've added it now. Let me know if I should change anything in the description.

[2022-01-11 10:59] #19 closed, assigned to claurau

[2022-01-11 15:48] dlemire60 commented on #12
I've created PR #21 with an initial draft of CONTRIBUTING.md to capture the discussion from the 10 January meeting.  Please review and comment.

[2022-01-11 15:51] dlemire60 commented on #17
Address in PR #21.

[2022-01-11 15:55] dlemire60 commented on #18
I don't see that file in the repo on GH.

![image](https://user-images.githubusercontent.com/26066504/148976363-1bea48a8-4472-421c-a7e5-1c73fc91ec1c.png)

[2022-01-21 14:11] wmunyan opened #22 "SACM considerations?"
Given that the SACM architecture draft has officially expired, and the SACM working group will be closed once its last remaining draft (CoSWID) is published, are there considerations within this group as to what is being instantiated?  Will the SACM architecture draft be pulled into this group?

[2022-01-21 22:25] adammontville commented on #22
Hi Bill.

I’m not sure that the draft will be pulled in explicitly, but (and others please correct me where I’m mistaken) we are working on an implementation that should inform any reincarnation of that draft.

Kind regards,

Adam

[2022-01-24 16:36] #11 closed, assigned to adammontville

[2022-01-24 18:24] #16 closed, assigned to adammontville

[2022-01-24 18:31] #15 closed, assigned to adammontville

[2022-01-24 18:31] #17 closed, assigned to dlemire60

[2022-01-24 18:31] #10 closed, assigned to sparrell

[2022-01-24 18:33] adammontville opened #24 "How do we want to organize code repositories?"
Because the PACE architecture includes a collection of components, each of which may have separate implementations based on chosen language, we may be better off with multiple PACE code repositories.

At present, PGB needs to be involved to create new repositories. We may want to make the case that code repository creation be delegated, so that the PGB doesn't need to be involved.

[2022-01-31 18:10] #18 closed, assigned to slarchacki22

[2022-01-31 18:16] adammontville commented on #7
2022-01-31: During the PACE meeting it was thought that scope of work should speak to what we are actually looking to build. Let's continue this discussion, so that we are able to consider the components we need to build and...start building them.

[2022-02-01 15:47] dlemire60 commented on #7
I think a relevant input to this conversation is what external documentation should be adopted as resources / guidance. Examples include:

1. [SACM Architecture Internet Draft](https://www.ietf.org/archive/id/draft-ietf-sacm-arch-13.txt)
2. [Endpoint Posture Collection Profile Internet Draft](https://www.ietf.org/archive/id/draft-ietf-sacm-ecp-05.txt)
3. [Endpoint Security Posture Assessment: Ente

[2022-02-02 22:57] sparrell opened #26 "PACE vs PCS/PES/PAR"
- is https://github.com/oasis-tcs/openc2-usecases/blob/main/PlugFests/2022-06-RSAC/sFractal/PaceArch.png a correct view of PACE?
- will PACE expose the "internal" interfaces (eg interface between PCS and PAR)?
- will all PACE interaction be thru PES or will there be direct interfaces to PCS and PAR?
The latter two questions affect the vendor agnostic discussion. Can I buy PAR from vendor 1 and PES

[2022-02-07 18:06] #12 closed, assigned to dlemire60

[2022-02-07 18:47] adammontville commented on #7
2022-02-07: PACE Meeting Discussion
* Scope: Indicates what PACE will specify/develop
* Fuzzy Edges
  * Hardware and Software Asset Inventory - is this in or out of scope?
  * Are hardware BOMs in scope?
  * SBOM + VEX would be in scope?
  * Have we defined posture? SACM defined posture as including hardware and software.
* "Gold Standards" SBOM - is this something we want (either in PACE or OCA)?

[2022-02-07 18:54] sparrell commented on #7
I propose the scope issues have children issues because there are several scope issues and these threads will become very intertwined. Based on the discussion we just had, I think the following are children issues:
- Asset Inventory #28
- Hardware BOM #29
- open source software repo's within PACE (ie on OCA open project) #24
- SBOM-preferred ala STIX-preferred as part of PACE #30
- is PAR within o

[2022-02-07 18:56] sparrell opened #28 "Is Asset Inventory within in PACE scope"
Clearly asset inventory is needed in many use cases involving PACE. The question is whether the asset inventory system is within the PACE system or is it a separate system that is a peer to PACE.

[2022-02-07 19:05] sparrell commented on #28
Duncan advocates that the asset inventory system is outside of PACE. The asset inventory system would know you have:
- 100K instantiations of the DuncanFarmBot
- where each one is
- All are hardware version 7.3
- 95K of them (and which ones) have DuncanFarmBot version 1.0 software
- 4,999 have DuncanFarmBot version 1.1 software
- 1 has DuncanFarmBot version 0.7 software

The PACE system would have

[2022-02-07 19:12] sparrell opened #29 "Is Hardware BOM within in PACE scope?"
There can be hardware vulnerabilities as well as other aspects of hardware affect the security posture. Is hardware bill of materials in scope for PACE?

[2022-02-07 19:14] sparrell commented on #29
Duncan advocates that it be beyond scope at least for now. We may want to consider hardware within PACE scope eventually, but I believe the focus should be on software for the foreseeable future. However is someone has software to contribute on hardware PACE, we could reconsider.

[2022-02-07 19:23] sparrell commented on #24
The PGB decided at the Feb meeting to delegate repo permission to the TSC and the projects (ie project proposes, TSC approves).

But PACE still needs to decide the process for deciding what 'rates' a OCA PACE repo. One proposal (favored by Duncan) is:
- that any PACE member could propose a new repo, that it be discussed at a Monday meeting, and unless objections it could be created (after TSC appr

[2022-02-07 19:34] sparrell opened #30 "SBOM-preferred ala STIX-preferred as part of PACE"
OASIS CTI has a "STIX Preferred" self-certification program. Should PACE have a "SBOM Preferred" self certification program?

See https://youtu.be/hmp1NPswNH8 for a 1-minute video prepared for CISA SBOM-arama in Dec-2021. It wasn't shown due to lack of time to get to this topic.

[2022-02-08 13:30] adammontville commented on #7
Should the PAR be in scope or should the interface to a PAR be in scope?

[2022-02-08 20:16] dlemire60 opened #32 "Is there a way to connect our mailing list to GH, so that issues in GH are sent to the list?"

[2022-02-08 20:16] dlemire60 opened #33 "Everyone ok with proposed standing (guidance-focused) agenda?"
* Anything we need to pull into todo?
* In progress discussion / close issues
* What do we pull into in progress (if anything)

(Also need to agree on an initial WIP limit)

[2022-02-08 20:17] dlemire60 opened #34 "Schedule and conduct PACE webinar"

[2022-02-08 20:17] dlemire60 opened #35 "Create PACE deck"

[2022-02-09 09:30] claurau commented on #32
Yes, that should be possible. Let me know if we should set this up.

[2022-02-09 15:55] sparrell commented on #24
Ogres (https://github.com/sparrell/Ogres) could be a test case. I would like it to be a PACE repo but it is still in it's nascent form. I favor opening the source while it's still forming so others can contribute. Most projects to date have come in "already baked". How complete does a repo need to be to be considered for becoming a PACE repo?

[2022-02-10 02:49] sparrell commented on #32
I am against tying the github mail list to the PACE mail list. There is already a mailing list for the repo. I think anyone who wants can join this mailing list instead of sending all the git comments and commits to the general list to people who don't want it and can't unsubscribe. Instead they'll unsubscribe from the pace mailing list which is not what we want.

[2022-02-10 11:55] adammontville commented on #32
Duncan (and all),

Certainly open to discussion. The reason tying the two together could be helpful is that there may be a subset of our community without GitHub accounts and with no driver to establish one, but they would still like to opine on certain issues, such as those surrounding governance. If we don’t believe we have this subset in our community, then we don’t need to tie the two together

[2022-02-10 14:10] sparrell commented on #26
a better architectural view might be https://github.com/sparrell/PACE/tree/arch2/docs/Arch

[2022-02-10 14:12] sparrell opened #36 "Should the PAR be in scope for PACE?"
@adammontville asked this question as part of #7 comments. This issue was created to escalate it to an issue of it's own so discussion could take place independent of the other scope issues

[2022-02-10 14:23] sparrell commented on #36
I feel strongly that PAR is within scope of OCA (hopefully no controversy there) and that given it needs to be somewhere in OCA, that PACE is the best place for it. Otherwise we’ll need another subproject to define the PAR interfaces and functionality.

[2022-02-10 14:24] sparrell commented on #36
Note I only think PACE should go as far as defining the blue/green/pink lines in https://github.com/sparrell/PACE/blob/arch2/docs/Arch/pace_arch_3.png and defining the functional requirements on the PES, PCS, PAR boxes.

[2022-02-10 14:25] sparrell commented on #36
Should we have potential open source implementations of any of the PACE components, I do not think we should “pick a winner” and allow for multiple implementations for the foreseeable future. I am NOT proposing Ogres as "the" solution to PACE, just "one of many potential" solutions.

[2022-02-10 19:56] dlemire60 commented on #32
I think my ideal solution would be to keep issue discussions on GH without adding them to the PACE mail list, but it might be advantageous if we could somehow propagate issue creation to the mail list. That way list members who don’t watch the repo at least get some notification of new issues while list members who are watching the repo won’t have to deal with duplicate message from GH and the mai

[2022-02-10 20:57] davaya commented on #36
* Defining interface(s) to PAR is certainly within scope for PACE
* There initially may be multiple interfaces to the PAR to allow comparison.
* A PoC would (almost by definition) be one of many potential solutions.
* Implementation of PAR is out of scope.  PACE participants could use OSS or commercial repository products, deployed on-prem or in the cloud (e.g., https://medium.com/google-cloud/apo

[2022-02-14 18:39] slarchacki22 commented on #28
This has been discussed and the Asset Inventory is out of scope - 02-14-2022.

[2022-02-14 18:42] slarchacki22 commented on #29
Will defer for the time being - 02/14/2022

[2022-02-15 13:12] adammontville commented on #7
While I missed the 2022-02-14 meeting (apologies). I understand that some of the discussion centered on whether the Posture Attribute Repository is in scope, or if an interface to a given PAR is what is really in scope. We had similar conversations in SCAPv2 before that effort was defunct, and we settled on standardizing the interface not the implementation. I strongly recommend that we follow thi

[2022-02-16 18:37] dlemire60 commented on #22
I think right now I would say that the SACM architecture ID is foundation / inspiration for the prototyping work to be done under OCA PACE. As the focus of  the PACE effort is prototyping, I don't have any near-term expectations that we'd update / revise / expand on the SACM Architecture draft. However, I'd agree with @adammontville that our results should (hopefully) "inform any future reincarnat

[2022-02-18 21:27] sparrell commented on #33
looking at this issue in a vacuum after time has passed: What standing agenda? Please provide a link to the standing agenda or add it to this issue so we know what we are agreeing to.

[2022-02-18 21:35] sparrell commented on #33
If the standing agenda is:

- Update from last week
- Targets for this week
- Blockers/Challenges
- AOB

Then I do suggest some additions.

I recommend first agenda item be approving the agenda because this reminds people to read it and suggest items that may have been missed.

I recommend the second agenda item be "approve any Pull Requests ready for approval". The intent would be zero to little

[2022-02-18 21:46] sparrell commented on #4
And we also need to include CC-BY as a license since not everything we are doing is software (ie Apache doesn't apply to documentation, at least in the eyes of some).

[2022-02-18 21:50] sparrell commented on #4
@claurau - as OASIS staff, can you answer @dlemire60's question in the first comment? Or ask Jaimie to answer as it sounds like a legal question. I would have "assigned' it to you but only maintainers can assign issues to people.

[2022-02-18 21:52] sparrell commented on #28
Should we add text somewhere saying "Asset inventory is currently out-of-scope"? Where should be put these resolutions of our scope issues?

[2022-02-18 21:53] sparrell commented on #29
Should we add text somewhere saying "Hardware BOMs are currently out-of-scope"? Where should be put these resolutions of our scope issues? Note that once we put text somewhere, we can close this issue with a link to the PR that has the text. Put we shouldn't close this issue until then.

[2022-02-21 11:43] claurau commented on #4
@sparrell I'll check with Jamie

[2022-02-25 17:30] claurau commented on #4
@sparrell @dlemire60 thank you, good catch! Chet and Jamie will work on resolving this issue.

[2022-02-28 13:47] adammontville commented on #36
I know we're here to create actual solutions. I think we're also here to specify for others to implement solutions. I think I said this on the mailing list, but the actual PAR implementation should not be in scope for specification. We will likely want to provide some PAR implementation conforming to the interface specification as part of our overall solution, but that implementation (which I hope

[2022-02-28 14:06] dlemire60 commented on #36
By definition a prototyping effort should be working to create functioning artifacts, AKA solutions. But that doesn't mean we need to build everything from scratch. But we should be defining interfaces, and prototyping implementations that demonstrate those interfaces. If the prototype can be built on top of an off-the-shelf component that's a solid approach unless we've got some good reason not t

[2022-02-28 21:28] davaya commented on #28
IT Asset Management, e.g., https://www.solarwinds.com/solutions/it-asset-management, is outside the PACE boundary but must be in-scope for both the architecture (#31) and even a first / minimum-viable prototype.  In order to get started on a prototype, we will at least need a spreadsheet of "Components whose architecture is assessed", but in order to make even a spreadsheet realistic we'll need to

[2022-03-04 16:54] sparrell opened #39 "Readme is stale"
In adding FAQ to PACE readme (https://github.com/opencybersecurityalliance/PACE/blob/main/README.md), I noticed the text was dated. One example "status: As of Oct 2021 ...". Members should reread and suggest changes to freshen the content.

[2022-03-08 21:13] dlemire60 commented on #28
After taking a closer look at the SnipeIT demo, it doesn't look like a good model for our needs. It's function appears to be tracking of physical assets and licenses. The only network information stored appears to be MAC address, whereas in the PACE context we likely need something a bit richer and more network- & software-oriented.

To a degree I'm interpreting Duncan's list of information, speci

[2022-03-10 17:54] dlemire60 commented on #28
HashiCorp's Consul is an open source-based product with a community edition that looks like something we might be able to usefully leverage for asset management in the PACE prototype.

* Documentation:  https://www.consul.io/docs
* GitHub repo:  https://github.com/hashicorp/consul

[2022-03-14 16:52] dlemire60 commented on #30
Realistically, shouldn't this be up to the organizations that define SBOM standards? Why should an OASIS open (sub) project be attacking self-certification for someone else's standard(s)?

[2022-03-14 17:36] slarchacki22 commented on #30
03/14/2022 - decision made to defer

[2022-03-14 17:36] davaya opened #40 "SBOM retrieval: use case and actuator profile"
PACE has a PCS, PES, and PAR, each with an interface as shown in the [architecture](https://github.com/opencybersecurityalliance/PACE/blob/main/docs/Arch/README.md).

Questions related to those interfaces are listed in the OpenC2 [SBOM Actuator Profile](https://github.com/oasis-tcs/openc2-ap-sbom/issues/38).  Should this issue be discussed under OpenC2 or PACE?

[2022-03-16 14:04] sparrell commented on #40
My opinion is that PACE should set the requirements, particularly with use cases and examples; and that OpenC2 should worry the details of the command semantics/syntax. There were will grey areas of overlap, but hopefully there is enough cross-fertilization of membership so that won't be an problem.

[2022-03-16 14:56] sparrell opened #42 "What "query language(s)" should be used for PACE?"
At the 14-Mar-2022 PACE project meeting, one participant made an assumption that the query language for PACE would be qraphql. This issue is to open the discussion on the different possibilities and decide which one(s) for PACE to use specifically for the PACE OpenC2 interface. There are separate issues for whether there can be more than one type or instance of database, and whether the database(s

[2022-03-16 14:57] sparrell opened #43 "Should pace "pick a winner" for PAR database?"
Should PACE standardize on the database for the PAR or just standardize on the PACE interfaces?

Note this is an independent issue from whether there should be one or more than one reference implementation. For example PACE could decide to allow relational, labeled property graph, or RDF graph databases as long as they met a interface we define; and yet could still decide to have only one referenc

[2022-03-16 14:57] sparrell opened #44 "Can there be more than one OCA PACE reference implementations?"
Should PACE have just one reference implementation or can it have more than one repo with more than one way to accomplish PACE?

Note this is an independent issue from whether there should be one standard database which is a separate issue.

For example PACE could decide to allow relational, labeled property graph, or RDF graph databases as long as they met a interface we define; and yet could sti

[2022-03-16 20:05] sparrell commented on #42
My opinion is we need more study/examples/trials before we pick one. My gut would be to try to make STIX patterning language work; and they create lycans to convert to each of the db query languages.

[2022-03-16 20:08] sparrell commented on #43
My opinion we should NOT pick a winner. I recommend we specify the interfaces, not implementations. I'd go so far as to recommend we have several reference implementations of different types.

[2022-03-16 20:09] sparrell commented on #44
I recommend more than one if possible. It may be only one is "production quality" but we should have several that are at least "proof of concept" quality.

[2022-03-19 00:14] davaya commented on #42
1) As the "participant", I was more focused on the use cases of:
  a) Decisionmaker queries the Component for Component's SBOMs using OpenC2, vs
  b) Decisionmaker queries the PAR to discover what SBOMs have already been queried, then the PCS if the desired SBOMs aren't yet available in the PAR.

I don't think we should "pick a winner" on either the DM query sequence diagram or the interface to th

[2022-03-19 00:22] davaya commented on #44
Is it a goal of either the PACE project or the June CAW to develop and distribute any reference implementation?  At least for now I prefer the goals to be 1) interface definitions and 2) PoC implementations that fully implement those interfaces.  To the extent that  PoCs are used in future interoperability events they could be considered partial "references" in that they were first, but even those

[2022-03-21 17:17] #40 closed, assigned to nobody

[2022-03-21 17:17] slarchacki22 commented on #40
Discussed at 03/22/2022 PACE meeting and decision to close.
PACE will interact with OpenC2 to define requirements for actuator profiles.

[2022-03-23 18:08] adammontville commented on #42
If we’re using a message fabric, why do we have to worry about this? If we’re using a message fabric, then we need to specify the pub/sub interface and then an implementation for a given fabric (i.e. DXL, Kafka, something else, etc.). The implementer of a PACE-conformant PAR would need to interface with the message fabric, and they can make whatever choice they want for 1) the actual data store, a

[2022-03-23 20:51] dlemire60 commented on #28
Here's a cut at IT asset management information that seems useful to consider for the PACE prototype:

**Data Fields in SNIPE-IT** (based on on-line demo)
• Name
• Image (graphic)
• Tag (number)
• Serial (look like UUIDs)
• Model (text [constrained?])
• Category (select list, or computed?)
• Status (select list)
• Location (select list)
• Purchase / Warranty info

**Other Fields of Interest**
• Ne

[2022-03-25 16:30] davaya commented on #42
Also discussed in #36.

The two message fabrics currently addressed by OpenC2 transfer specs are 1) point-to-point using HTTP and 2) pub/sub using MQTT.

HTTP has interface "styles" including static web page HEAD/GET, REST style using GET/POST/PUT/PATCH/DELETE to a bunch of different URLs, and GraphQL style using GET/POST to a single URL.

Within static pages, REST-style multi-URLs, and GraphQL-st

[2022-03-25 17:05] davaya commented on #43
As noted at the 3/21 PACE meeting, the items on the list are not peers.  In particular, GraphQL is not  a database, it is an interface style analogous to REST.   REST uses several different HTTP methods (POST, GET, PUT, PATCH, and DELETE) to a bunch of different URLs.  GraphQL uses three actions (query, mutate, delete) to a single URL.

I ran across an article that gives a flavor of the GraphQL ap

[2022-03-25 17:23] davaya commented on #42
As noted at the 3/21 PACE meeting, the items on the list are not peers. In particular, GraphQL is not a database or a query language, it is an interface style analogous to REST. REST uses several different HTTP methods (POST, GET, PUT, PATCH, and DELETE) to a bunch of different URLs. GraphQL uses three actions (query, mutate, delete) to a single URL. And as described in the IoT use case, GraphQL c

[2022-03-25 19:04] davaya opened #45 "Architecture Flows"
The Architecture Use Cases section starts with Putting an SBOM into PACE:

"Decision-making element (e.g a SOAR running a CACAO playbook eg {fillinhere}) sends OpenC2 command, (eg {fillinhere}), telling PCS to retrive SBOM from device_id=2345."

This is an IT Asset Management question - it is not sufficient to say ITAM is "inside" or "outside" of PACE - the DM must know about assets in order to se

[2022-03-28 17:09] slarchacki22 commented on #43
03/28/2022 - did revisit this issue as we ran out of time previously.  Consensus is to not pick a winner.  Specifying interfaces may weigh in on the implementation.

[2022-03-28 17:12] slarchacki22 commented on #44
03/28/2022 - Talked about there should be multiple implementations.

[2022-04-07 15:46] adammontville commented on #43
Is this now resolved?

[2022-04-07 15:46] adammontville commented on #44
Is this now resolved?

[2022-04-07 16:03] dlemire60 commented on #44
@adammontville This and several other issues are resolved, but the approach to documenting the resolution in visible form hasn't quite been worked out, so hadn't closed them.

[2022-04-25 16:59] davaya commented on #43
Use case [Retrieve SBOMs](https://github.com/opencybersecurityalliance/PACE/pull/50) suggests retrieving SBOMs through the PES using the Posture Evaluation actuator profile.  This allows both direct retrieval of stored SBOMs and translation of SBOMs from stored format to desired retrieval formats.

An additional use case is to retrieve stored SBOMs directly from the PAR using the unspecified PAR A

[2022-04-25 17:09] slarchacki22 opened #51 "Update CollectSbomFromDevice2 Diagram"
Diagrams "CollectSbomFromDevice" and "CollectSbomFromDevice2" are intended to illustrate a difference between Component and Monolithic PACE. But to the external world PACE must still be an OpenC2 Consumer (for interactions with DM) or OpenC2 Producer (for interactions with ComponentX). In Device2, suggest moving green PAC API to dotted PACE boundary, analogous to PCS boundary in Device, and termin

[2022-04-25 17:10] slarchacki22 commented on #51
https://github.com/opencybersecurityalliance/PACE/pull/49 - discussed in this Issue #49

[2022-04-25 17:33] slarchacki22 commented on #7
Added to FAQ on 4/25/2022 PACE meeting.

[2022-04-25 17:34] #7 closed, assigned to sparrell

[2022-04-25 17:35] slarchacki22 commented on #22
Added to FAQ at the 4/25/2022 PACE meeting

[2022-04-25 17:35] #22 closed, assigned to nobody

[2022-04-25 17:35] slarchacki22 commented on #24
Added to FAQ at the 4/25/2022 PACE meeting

[2022-04-25 17:35] #24 closed, assigned to nobody

[2022-04-25 17:35] davaya opened #53 "Direct retrieval of SBOMs from PAR"
Use case https://github.com/opencybersecurityalliance/PACE/pull/50 suggests retrieving SBOMs through the PES using the Posture Evaluation actuator profile. This allows both direct retrieval of stored SBOMs and translation of SBOMs from stored format to desired retrieval formats.

An additional use case is to retrieve stored SBOMs directly from the PAR using the unspecified PAR API. This allows exp

[2022-04-25 17:35] slarchacki22 commented on #28
Added to FAQ at the 4/25/2022 PACE meeting

[2022-04-25 17:35] #28 closed, assigned to davaya

[2022-04-25 17:35] slarchacki22 commented on #29
Added to FAQ at the 4/25/2022 PACE meeting

[2022-04-25 17:35] #29 closed, assigned to nobody

[2022-04-25 17:36] slarchacki22 commented on #42
Added to FAQ at the 4/25/2022 PACE meeting

[2022-04-25 17:36] #42 closed, assigned to nobody

[2022-04-25 17:36] slarchacki22 commented on #43
Added to FAQ at the 4/25/2022 PACE meeting

[2022-04-25 17:36] #43 closed, assigned to nobody

[2022-04-25 17:36] slarchacki22 commented on #44
Added to FAQ at the 4/25/2022 PACE meeting

[2022-04-25 17:36] #44 closed, assigned to nobody

[2022-10-11 08:08] adammontville commented on #28
Which of these (or which collection of these) might be useful as a unique identifier that could be useful to any software connected to the ecosystem?

Also, Consul looks interesting. It seems to to a lot more than service cataloging. Do we want to look into that for other PACE needs as well?

[2022-10-11 08:21] adammontville commented on #44
I think interface definitions (based on an event driven approach) and PoC implementation(s) are the primary goals.

[2022-11-15 15:19] sparrell opened #57 "Project Specification: 3 sections"
Add sections to PSD for Architecture, Interfaces, and Posture Attributes.

[2022-11-15 15:20] sparrell opened #58 "PSD: Use cases / Examples Appendix"
Update Appendix with PACE use cases, examples

[2022-11-15 15:23] sparrell opened #59 "PSD: Arch from arch doc"
Update arch section with text from archtecture documetn (https://github.com/opencybersecurityalliance/PACE/blob/main/docs/Arch/README.md)

[2022-11-15 15:27] sparrell opened #60 "PSD: OpenC2 Interface"
Update Interface section of PSD defining PCS and PES interfaces. Add OpenC2 over MQTT and OpenC2 over HTTPS as two (of potentially more) PACE compliant PCS/PES interfaces.

[2022-11-15 15:30] sparrell opened #61 "PSD: Interface Compliance"
Add OpenC2/MQTT profile/subsection to conformance section of PSD.
Add OpenC2/HTTPS profile/subsection to conformance section of PSD.

[2022-11-15 16:48] sparrell opened #62 "PSD: Add SBOM/VEX to Security Attributes"
Add SBOM (CDX, SPDX) and VEX (CSAF, CSX) to Security Attributes section

[2022-11-15 16:54] sparrell opened #63 "PSD: Add Kestrel Outputs to Security Attributes"
Kestrel does threat hunting and produces outputs about threats (or lack thereof) in the system. These outputs should be inputs into PACE either directly (as STIX observables produced by Kestrel) or indirectly (if Kestrel was part of CACAO playbook, another playbook step might be updating PACE)

[2022-11-15 16:56] sparrell opened #64 "PSD: research PACE predecessors for security attributes"

[2022-11-15 16:58] sparrell opened #65 "PSD: add relationship appendix"
add appendix to PSD for "how does xxx relate to PACE?" type information

[2022-11-17 13:01] sparrell opened #66 "PSD: Add HDF to Security Attributes"
Add HDF (new OASIS TC) to security posture attributes as input to PACE

[2022-11-17 13:04] sparrell opened #67 "PSD: Add STIX to security posture attributes"
STIX has quite a large set of cyber observables and probably needs to be added in stages as use cases arise. This is the catch all for eventually adding all of them

[2022-11-21 14:57] sparrell opened #68 "PSD: add IoB as security posture attribute"
IoB (Indicators of Behavior) is an OCA subproject (https://github.com/opencybersecurityalliance/oca-iob) to represent threat actor behaviors in standardized way.